name: Build JavaScript

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Node 18
      uses: actions/setup-node@v3
      with:
        node-version: 18
    - name: Install dependencies
      run: |
        npm ci
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - run: pip install ipython plotly
    - name: Test
      run: |
        npm t
